


.footer_new_post div img{
    width: 24px;
    height: 24px;
}

.header_newpost img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.footer_new_post div{
    cursor: pointer;
    width: fit-content;
    border-radius: 10px;
    color: #B8BABF;
    display: grid;
    grid-template-columns: auto auto;
    gap:0.6rem;
    
    
    padding: 0.7rem;
}

.footer_new_post div:hover{
    background-color: #3B3D3D ;
}

.footer_new_post div p,.footer div img{
    align-self: center;
}

.footer_new_post{
    
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap:0.1rem;
    

}
.new_post{
    display: grid;
    grid-template-rows: auto auto auto;
    gap:1rem;
    padding: 1rem;
    background-color: #252728;
    border-radius: 20px;
    max-width: 500px;
    margin: 1rem;
}

.new_post hr{
    height: 0.5px;
    background-color: #3B3D3D;
}

.header_newpost{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    
}

.header_newpost input{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #333334;
    color: #B7B9BE;
    align-self: center;
    height: 41px;
    
    
}
.header_newpost input:hover{
    background-color: #474748;
}
.header_newpost input:focus{
    outline: none;
}


#icon_profile{
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.header_post .profile .right{
    display: grid;
    grid-template-rows: auto auto;

}


.header_post .profile{
    display: grid;
    grid-template-columns: auto auto;
    
    gap:0.7rem;
}

.header_post .profile img,.header .profile .right{
    align-self: center;
}

#remove_icon{
    margin-left: 10px;
}

.post .header_post{
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap:1rem;
}

.edit_remove_icon{
    width: fit-content;
    justify-self: end;
}

.post .header_post .right #date{
    color:#888B8F ;
    font-size: 0.9rem;
}

.post .header_post .right #follow{
    color:#5AA7FF ;
    cursor: pointer;
}

.post .header_post .right #name{
    color:#C5C8CC ;
    cursor: pointer;
}

.post .header_post .right #point{
    
    color:#C5C8CC ;
   
}



#options_icon_contact,#remove_icon{
    cursor: pointer;
}


.post{
    color: #E2E5E9;
    background-color: #252728;
    border-radius: 20px;
    width: fit-content;
    padding: 0.7rem 1rem;
    margin: 1rem;
    display: grid;
    grid-template-rows: auto auto auto;
    min-width: 500px;
    gap:2rem;
    
}

.post .footer_post{
    display: grid;
    grid-auto-rows: auto;
    
}

.post .footer_post hr{
   
    border: none;
    border-top: 1px solid #5c5f5f;
    margin: 0.5rem 0; 
   
    
}


.post .footer_post .footer_up{
    display: grid;
    grid-template-columns: auto auto;
    gap:1rem;
}

.post .footer_post .footer_up .footer_right{
    display: grid;
    grid-template-columns: auto auto;
    gap:0.2rem;
    
}

.post .footer_post .footer_up .footer_left{
    display: grid;
    grid-template-columns: auto auto;
    gap:0.2rem;
}


.post .footer_post .footer_down {
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    
}


.post .footer_post .footer_down div{
    cursor: pointer;
    border-radius: 5px;
    color: #B8BABF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.4rem;
    
    padding: 0.3rem 1rem;
   
}

.post .footer_post .footer_down div:hover{
    background-color: #3B3D3D;
}

.footer_right{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: fit-content;
    justify-self: end;
    gap:1rem;
    
}

.footer_right div{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap:4px;
    margin-left: 10px;

}

.footer_left span,.footer_right div span,.footer_right div i{
    cursor: pointer;
}

.footer_left{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: fit-content;
    justify-self: start;
}

.footer_left span:nth-of-type(2){
   
    margin-left: 2px;

}

.post .body{
    max-width: 470px;
}