
.friend_request{
    color: #F2F4F5;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0.8rem;
    border-radius: 15px;
    background-color: #252728;
    font-size: 1.1rem;
    gap:0.7rem;
}

.friend_request_buttons{

    display: flex;
    gap:20px

}

.friend_request_profile{

    display: grid;
    grid-template-rows: 1fr auto;
    gap:10px;
    align-items: end;

}

.friend_request img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.friend_request button{
    width: 100% ;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 1.02rem;
}

.friend_request .confirm_button{
    background-color: #0b62ed;
    color: #EFFDFF;
    font-weight: bold;
    
}

.friend_request .delete_button{
    background-color: #3D3C3F;
    color: #F1F3F4;
    font-weight: bold;
}


.friend_request .confirm_button:hover{
    background-color:#083f96 ;
    
}

.friend_request .delete_button:hover{
    background-color:#4F5050 ;
    
}
