

.friends_sidebar{
    color:#E2E5E9;
    background-color: #252728;
    padding: 0.5rem;
    min-width: 400px;
    height: 90vh;
    position: sticky;
    top: 10%;
    border-right: solid 1.2px #5a5a5b;

   
}


.friends_sidebar ul{
    display: grid;
    grid-template-rows: repeat(7,1fr);
    gap:0.5rem;
}

.friends_sidebar ul li{
    
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 10px;
    
}

.friends_sidebar ul li{
    cursor:not-allowed;
    
}

.friends_sidebar ul li:first-child,.friends_sidebar ul li:nth-child(2),.friends_sidebar ul li:nth-child(5){
    cursor:pointer;
    
}

.friends_sidebar  li:hover,.friends_sidebar ul li:first-child div:hover{
   background-color: #4F5050;
  

    
}

.friends_sidebar ul li:first-child{
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto;
    
    cursor:default;
    
}

.friends_sidebar ul li:first-child div{
    
    justify-self: end;
}

.friends_sidebar ul div{
    
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #3B3D3D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friends_body{
    color: #E2E5E9;
    display: grid;
    grid-template-rows: auto 1fr;
    gap:1rem;
    padding: 2rem;
}


.friend{
    border-radius: 20px;
    background-color: #252728;
    border: 0.5px solid #7a7d81;
    height: fit-content;
    max-width: 250px;
   
    margin: 0rem 0.1rem 0.1rem 0rem;
    
}

.friends_list{
    display: grid;
    grid-template-columns: repeat(auto-fit,223px);
    gap:1rem;
       
}

.friend_icon {
    
    cursor: pointer;
    width: 100%;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    
}



.friend_footer{
    padding: 0.7rem;
    display: grid;
    grid-template-rows: 1fr auto;
    gap:0.5rem;

}

.friend_footer button{
    width: 100% ;
    height: 36px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 1.02rem;
}

.friend_footer .add_button{
    background-color: #233A52;
    color: #74A8E3;
    font-weight: bold;
    
}

.friend_footer .remove_button,.cancel_button{
    background-color: #3B3D3D;
    color: #E4E5E9;
    font-weight: bold;
}

.friend_footer p{
    color: #B0B3B8;
    height: 36px;
}

.friend_footer .add_button:hover{
    background-color: #394E63;
    
}

.friend_footer .remove_button:hover{
    background-color: #4F5050;
    
}



.friends_container{
    display: grid;
    grid-template-columns: auto 1fr;
}

