body{
    background-color: #1c1c1d;
}

.header{
    z-index: 4;
    background-color: #252728;
    border-bottom: solid 1.2px hsl(240, 1%, 35%);
    padding: 0.1rem 1rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    gap:5rem;
    
    position: sticky;
    top: 0;
   
}

#profile_icon_header{
    align-self: center;
}

.logo_search{
    display: grid;
    grid-template-columns: auto 1fr;
     
    gap : 0.2rem;
}


#facebook{
    align-self: center;
    cursor: pointer;
    border-radius: 50%;
    width: fit-content;
   
}


.search_header{
    border: none;
    border-radius: 30px;
    background-color: #333334;
    height: 41px;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    justify-items: center;
    align-self: center;
    padding: 0rem 1rem;
    
}


#search_icon{
    align-self: center;
}

#search_input{
    background-color: transparent;
    border: none;
    color: #eceeef;
    align-self: center;
}

#search_input:focus{
    border: none;
   outline: none;
}



/**/

.header_Nav{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    gap:0.4rem;
   
}
.header_Nav  div {
    cursor: not-allowed;
}

.logo_search a{
    height: 0px;
}

.header_Nav .allowed {
    cursor: pointer;
}
.header_Nav > div:hover,.header_Nav > a:hover{
    background-color: #3B3D3D;
    
}
.header_Nav > div{
    border-radius: 10px;
    display: grid;
    justify-content: center;
    justify-items: center;
    min-width: 50px;
    padding: 0.6rem 0rem;

}

.header_Nav > a{
    border-radius: 10px;
    display: grid;
    justify-content: center;
    justify-items: center;
    min-width: 50px;
    padding: 0.6rem 0rem;

}




.header_Nav div svg{
    height: 100%;
   
}

.side_header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 100%;
    gap:0.4rem;
 
}

.side_header div{
    border-radius: 50%;
    background-color: #3B3D3D;
    height: 45px;
    width: 45px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-self: center;
    cursor: not-allowed;
    

}

.side_header .allowed{
    cursor: pointer;
}
.side_header > div:hover{
    background-color: #4F5050;
}

.side_header div svg{
    align-self: center;
}

.side_header img{
    height: 45px;
    border-radius: 50%;
    width: 45px;
    cursor: pointer;
}

.notification{
    position: relative;
}

.side_header .notification_number{
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    width: 17px;
    height: 17px;
    background-color: #FF0828;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    top: 0;
    right: 0;
}

.notification_body{
    height: 88vh;
    width: 400px;
    overflow: scroll;
    background-color: #252728;
    box-shadow: 5px 5px 10px -10px rgba(0, 0, 0,0.5);
    border-radius: 20px;
    color: white;
    padding: 1rem;
    position: fixed;
    right: 1%;
    top:9%
  
}

.notification_body .notification_body_header{
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    

}

.notification_body .notification_body_header svg{
    align-self: center;
    justify-self: end;
}

