

.sidebar{
    display: grid;
    grid-template-rows: 1fr repeat(4,auto);
    gap:1rem;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    justify-self: end;
    height: fit-content;
    position: sticky;
    top: 5rem;
   
}

.sidebar hr{
  
   background-color: rgb(104, 108, 104);
   height: 1px;

}

.sidebar p {
    display: grid;
    align-items: center;
}
.contacts{
    display: grid;
    grid-template-rows: auto auto;
}
.sidebar .title{
    height: fit-content;
}

.contacts svg{
    cursor: pointer;
}

.contact_header{
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap:0.5rem;
    
}

.contact_body{
    display: grid;
    grid-template-rows: repeat(auto-fit,1fr);
    gap:1rem;
}

.contact_body div{
    cursor: pointer;
    border-radius: 10px;
    padding: 0rem 0.4rem;
    width: 300px;
    height: 60px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap:1rem;
}

.contact_body div p,img{
    align-self: center;
}

.contact_body div:hover,.group_chat:hover,.contact_header div:hover{
    background-color:#333334 ;
}

.groups{
    
    display: grid;
    grid-template-rows: auto auto;
    gap:1rem;
}

.plus_group_container,.new_msg,.remove_icon_container{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #474748;
    display: grid;
  
}

.contact_header div{
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
  
}
.plus_group_container svg,.contact_header div svg,.new_msg i{
    align-self: center;
    justify-self: center;
    height: 100%;
}

.new_msg{
    
    cursor: pointer;
    justify-self: end;
    position: fixed;
    bottom: 2%;
    height: 50px;
    width: 50px;
}

.group_chat{
    
    cursor: pointer;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0 0.4rem;
   
    height: 60px;
    gap: 1rem;

}

.group_chat  p,.group_chat div{
    align-self: center;
}