


img{
    width:300px;
}

.signup_container{


    background-color: #f0f2f5;
    padding-bottom: 2rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: auto 1fr;
    gap : 0.5rem;

}

.form_container{

    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 400px;
    height: 520px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.form_header{
    margin: 1rem;
    align-self: center;
    justify-self: center;
}

form{
    margin: 1rem;
    display: grid;
    
    grid-template-rows: repeat(7,auto);
    gap: 1.1rem;
}



hr{
    height: 0.5px;  
    background-color: #cfd2d7; 
    border: none; 
}

select,input[type="text"],input[type="password"],input[type="email"]{
   
    padding-left: 10px;
}

select{
    background-color: white;
}

input,#Female,#Male,select{
    height: 35px;
    border-radius: 5px;
    border: 1px #cfd2d7 solid;
    
}

.birthday{
    display: grid;
    grid-template-columns: auto auto auto;
    gap : 1rem;
}

.gender{
    display: grid;
    grid-template-columns: 150px auto;
    gap : 1rem;
    
}

#Female,#Male{
    
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 10px;
  
}

#Female input,#Male input{
    justify-self: right;
}

#Female{
    grid-column: 1/2;
}
#Female div,#Male div{
    justify-self: left;
    padding-left: 10px;
    align-self: center;
}


#Male{
    grid-column: 2/3;
    justify-self: right;
    width: 150px;
}

.signup{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: center;
    gap : 0.6rem;
}

.signup input{
    width: 200px;
    background-color: #00a400;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.signup a{
    text-decoration: none;
    color: #2877f2
}
.form_header{
    text-align: center;
}

.form_header h2{
    font-size: 1.7rem;
}
.form_header p{
    color: #7b7c7e;
}

input,select{font-size: 1.02rem;}

.error {
    color: red;
    font-size: 0.8rem;
}

